@charset "utf-8";

body, html {
	width:100%;
	height:auto;
	margin:0;
	padding:0;
	overflow-x:hidden;
	overflow-y:auto;
	font-family: Arial, Helvetica, sans-serif;
	font-size:15px;
	background:#fff;
	color:#333;
	-webkit-mask-image:none;
	display: block;
}
body {
	overflow-x:hidden;
}

/******************************
 ** CSS RESET
 ******************************/
 h1, h2, h3, h4, h5, h6 {
 	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
table {border-collapse: collapse;border-spacing: 0;}
span {border:0; padding:0; margin:0;}
img {border:0; padding:0; margin:0;}

/******************************
 ** BOOTSTRAP STYLE RESET
 ******************************/
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1,
.col-xs-2, .col-sm-2, .col-md-2, .col-lg-2,
.col-xs-3, .col-sm-3, .col-md-3, .col-lg-3,
.col-xs-4, .col-sm-4, .col-md-4, .col-lg-4,
.col-xs-5, .col-sm-5, .col-md-5, .col-lg-5,
.col-xs-6, .col-sm-6, .col-md-6, .col-lg-6,
.col-xs-7, .col-sm-7, .col-md-7, .col-lg-7,
.col-xs-8, .col-sm-8, .col-md-8, .col-lg-8,
.col-xs-9, .col-sm-9, .col-md-9, .col-lg-9,
.col-xs-10, .col-sm-10, .col-md-10, .col-lg-10,
.col-xs-11, .col-sm-11, .col-md-11, .col-lg-11,
.col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
	padding-right: 0px;
	padding-left: 0px;
}
.row{
	margin:0;
}

.ani-kit {
	-webkit-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

/* Snap Menu for mobile */
.modal-open {
	overflow: hidden;
}
.snap-content {
	z-index: 2;
	overflow: auto;
}

.navigation {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: auto;
	height: auto;
}

.navigation ul {
	position: relative;
	width: 265px;
	height: 100%;
	overflow: auto;
	-webkit-transition: width 0.3s ease;
	-moz-transition: width 0.3s ease;
	-ms-transition: width 0.3s ease;
	-o-transition: width 0.3s ease;
	transition: width 0.3s ease;
}

/*******************************
 ** COMMON STYLE for all section
 *******************************/
a{text-decoration:none; color:#2AA4CA;}
a:hover, a:focus{text-decoration:none; color:#ff9022;}
p{line-height:27px;}
p:not(:last-child){margin-top:5px; margin-bottom:20px;}
hr {height:1px; border:none; background-color:#ddd;}
blockquote{line-height:27px;font-size:15px;}
.sidebar_ad{border:1px solid #BBB;padding:9px;background-color:#fff;width:320px; height:270px; margin:0 auto 20px auto;}
.clear{clear:both;}
.clearafter{display:block; content:''; clear:both;}

#content{position: relative;background:#fff; overflow:hidden; transition: all 0.8s ease; -webkit-transition: all 0.8s ease; -moz-transition: all 0.8s ease; -ms-transition: all 0.8s ease; -o-transition: all 0.8s ease;}
#mainbody{position:relative; padding:0 0 15px 0;height: 100%;overflow-x:hidden; overflow-y:auto;}
#contentArea{float:left; width:756px;}
#sidebar{float:left; width:360px; margin-left:24px;}

.sidebar-container{padding:20px; background:url(/images/bg/blue-grid-225x225.jpg) 1px 6px repeat;}
.sidebar-container aside {border-top: 20px solid rgba(76, 164, 84, 0.85);}
.sidebar-container aside:not(:last-child){margin-bottom:20px;}

#page-heading {padding:0 0 4px 0; border-bottom:3px dotted #d8d9d4; margin-bottom:20px;}
#page-heading .page-title{float:left; width:auto; font-size:32px; color:#f36e4c; line-height:normal; font-weight:bold;}
#page-heading h1{float:left; width:auto; font-size:32px; color:#f36e4c; line-height:normal; font-weight:bold;}
#page-heading .page-breadcrumb{float:right; width:auto; padding:15px 0 0 0; margin:0;}
#page-heading .page-breadcrumb>li{display: inline-block; font-size:13px; color:#808080;}
#page-heading .page-breadcrumb>li + li:before{padding:0 3px 0 3px; content:url(/images/common/breadcrumb-arrow.png);}
#page-heading .page-breadcrumb>li a{color:#808080;}
#page-heading .page-breadcrumb>li a:hover, #page-heading .page-breadcrumb>li a:focus{color:#f93;}

.mpage-breadcrumb{padding:0 0 0 10px; margin:20px 0 20px 0; border-left:5px solid #68c5ec;}
.mpage-breadcrumb>li{display: inline-block; font-size:18px;color:#AAA;}
.mpage-breadcrumb>li + li:before{padding:0 6px 0 6px; content:'|';}
.mpage-breadcrumb>li a:hover, .mpage-breadcrumb>li a:focus{color:#f93;}

#footer{padding:10px 0; margin:30px 0 0 0;color:#686868;}
#footer-copyright{float:left; width:auto;}
#footer-menu{float:left; width:auto; padding:0 0 0 30px; margin:0;}
#footer-menu>li{float:left; display:list-item; list-style:none; padding:0 12px; border-left:1px solid #7f7f7f;}
#footer-menu>li:first-child{padding:0 12px 0 0; border-left:0;}
#footer-menu>li:last-child{padding:0 0 0 12px;}
#footer-menu>li>a{color:#686868;}
#footer-menu>li>a:hover, #footer-menu>li>a:focus{color:#000;}
#mainbody:after, #footer:after, #footer-menu:after, #page-heading:after{display:block; content:''; clear:both;}

#btn-scroll-top { position: fixed; bottom: 1.8em; right: 0.7143em; z-index: 5; opacity: 0; border-width: 0;
background: -webkit-linear-gradient(#FFFFFF, #FEFEFE); /* For Safari 5.1 to 6.0 */
background: -o-linear-gradient(#FFFFFF, #FEFEFE); /* For Opera 11.1 to 12.0 */
background: -moz-linear-gradient(#FFFFFF, #FEFEFE); /* For Firefox 3.6 to 15 */
background: linear-gradient(#FFFFFF, #FEFEFE); /* Standard syntax (must be last) */
-webkit-box-shadow: inset 0 -2px 5px rgba(180,180,180,.75);
box-shadow: inset 0 -2px 5px rgba(180,180,180,.75);}
#btn-scroll-top.active { opacity: .85; }

.section-title{padding-bottom:6px; font-size:24px; font-weight:bold; color:#159E25;}
.bottom-article{margin:15px 0;}

/* Standard Form */
form.standard .field {
padding:0 0 15px 0;
}
form.standard label {
display:block;
padding:0 0 2px 2px;
}
form.standard .textbox,
form.standard .textarea,
form.standard .select,
form.standard .button,
form.standard .checkbox,
form.standard .radio {
padding:8px 5px;
}
form.standard .checkbox,
form.standard .radio {
border:0;
}
form.standard .button {
cursor:pointer;
padding:5px 8px;
line-height:100%;
}
form.standard .error {
padding:1px 6px;
line-height:100%;
}

.hl-bg {background-color:#FFEAEE;}
.redblock {background:#4ca454;color:#FFF;padding:0 5px 0 5px;}
.dssnp {padding:0 5px 0 5px;color:#FFF;background-color:#14a661;}
a.pdf {background: url(/images/bg/pdf-16.png) no-repeat left center;padding-left:20px;line-height: 16px;}
a.modal-box {background: url(/images/bg/modal-16.png) no-repeat left center;padding-left:20px;line-height: 16px;}
a.btn { display: block; cursor: pointer; }
a.btn>img { display: block; }

/******************************
 ** NAVIGATION
 -- mobile menu, desktop menu
 ******************************/

/* mobile menu */
#toolbar{position:fixed; top:0; left:0; width:100%; height:54px; padding-top:10px; border-bottom:2px solid #e6e6e6; text-align:center; z-index:1000; background:#14a661; background: -webkit-linear-gradient(45deg,#14a661,#0d9e59); background: linear-gradient(45deg,#14a661,#0d9e59); }
a#open-left,a#open-right{display:block;position:absolute;margin:0; }
a#open-left img,a#open-right img { display: block; }
a#open-left{top:0;left:0; padding:11px 8px;}
a#open-right{top:9px;right:8px;}

.navigation {
	background: #ededed;
}

#mobile-main-menu {padding:5px 0; margin:0;}
#mobile-main-menu li {display:list-item; list-style:none; padding: 0 10px;}
#mobile-main-menu li>a{display:block; position:relative; padding:14px 10px 14px 43px; font-size:18px; letter-spacing:2px; color:#131313; font-weight: 600; border-top: 2px solid #CCC; /*background:url(/images/common/icon-mobile-menu-arrow.png) right 10px center no-repeat;*/ }
#mobile-main-menu li:first-child>a { border-top: 0 none; }
#mobile-main-menu li ul li:first-child a { /*border-top: 1px dotted #CCC!important;*/ }
#mobile-main-menu li>a:after { content:" "; display: block; float: right; background-position: 0 -7.5em; margin-top: -3px; }
#mobile-main-menu li.active>a:after { background-position: 0 -5.625em; }
html:not(.touch) #mobile-main-menu li:not(.selected)>a:hover,
html.touch #mobile-main-menu li>a:focus, html.touch #mobile-main-menu li>a:active {background-color:rgba(20,165,96,.2);}
#mobile-main-menu span.mobile-menu-icon{position:absolute; left:3px; top:10px; display: block; }
#mobile-main-menu span.mobile-menu-icon,
.has-sub-items>li>a:after { width: 1.875em; height: 1.875em; background-image: url(/images/common/sprite_menu.png); background-repeat: no-repeat; background-size: 1.875em 9.375em; font-size: 16px; }
.has-sub-items>li>a,
.has-sub-items>li>a:after { opacity: .7; }
.has-sub-items>li>ul { display: none; margin-left: -20px; padding-left: 20px; padding-bottom: 8px; }
.has-sub-items>li.active>a { opacity: 1; border-top-color: #BBB!important; border-bottom: 1px dotted #CCC!important; }
.has-sub-items>li.active>ul { display: block; }
.has-sub-items>li>ul>li { padding-left: 0!important; padding-right: 0!important; }
.has-sub-items>li>ul>li>a { padding: 12px 20px 12px 20px!important; font-size: 16px!important; border: 0 none!important;}
.has-sub-items>li>ul>li.selected>a { background-color: rgba(255,255,255,.5); border-left: 3px solid #0D9E59!important; }
#mobile-main-menu span.mobile-menu-icon.ico-school { background-position: 0 0; }
#mobile-main-menu span.mobile-menu-icon.ico-direction { background-position: 0 -1.875em; }
#mobile-main-menu span.mobile-menu-icon.ico-markedbook { background-position: 0 -3.75em; }

/* desktop menu */
#container-header{background:#14a661; background: -webkit-linear-gradient(45deg,#14a661,#0d9e59); background: linear-gradient(45deg,#14a661,#0d9e59); margin-bottom: 15px;}
#header{width:100%; height:155px; padding:10px 0 0; position: relative;}
#header:after{display:block; content:''; clear:both;}
#site-logo{float:left; padding:0;}
#site-logo, #site-logo a, #site-logo a img { display: block; }
#desktop-menu{padding:0; margin:0; background-color:#048c4c; position:absolute; top: 93px; right: 0;}
#desktop-menu:after { display: block; clear: both; content: ' '; }
#desktop-menu>li{float:left; display:list-item; list-style:none;}
#desktop-menu>li:first-child{padding-left:0;}
#desktop-menu>li>a{display:block; font-weight:bold; text-align:center; background-position:0 top; background-repeat:no-repeat; color: #FFFFFF;font-size: 17px; line-height: 58px; padding-left: 20px; padding-right: 20px; -webkit-transition: background-color 300ms ease-out; -moz-transition: background-color 300ms ease-out; -o-transition: background-color 300ms ease-out; transition: background-color 300ms ease-out;}
#desktop-menu>li>a:hover, #desktop-menu>li>a:focus, #desktop-menu>li.active>a{background-color: #036b37;}
#desktop-menu>li>a span.menu-text{display:inline-block; padding:0; margin:0; border-bottom:2px solid transparent; border-top:2px solid transparent;}
#desktop-menu>li>a:hover span.menu-text, #desktop-menu>li>a:focus span.menu-text, #desktop-menu>li.active>a span.menu-text{border-bottom-color:#036b37;}

#header .search-box{padding:9px 5px 9px 13px; margin-bottom:11px; background-color:#FFFFFF; display: block; position: absolute; top: 30px; right: 0; border: 2px solid #a3a3a3; -webkit-box-shadow: 2px 2px 0px 0px rgba(6, 127, 67, 1); -moz-box-shadow: 2px 2px 0px 0px rgba(6, 127, 67, 1); box-shadow: 2px 2px 0px 0px rgba(6, 127, 67, 1); -webkit-transition: border-color 300ms ease-out; -moz-transition: border-color 300ms ease-out; -o-transition: border-color 300ms ease-out; transition: border-color 300ms ease-out;}
#header .search-box.focus { border-color: #464947; }
#header .search-box.focus .title { color: #464947; }
#header .search-box:after{display:block; content:''; clear:both;}
#header .search-box .search-input{float:left; width:265px;}
#header .search-box .search-input label{line-height:normal; font-weight:normal;float:left; margin-bottom: 0; line-height: 28px;}
#header .search-box .title{width:auto; font-size:18px; color:#5e5e5e;}
#header .search-box .btn-submit{float:left; width:30px;}
#header .search-box input[type="text"]{width:200px; height:25px; padding:0px 8px; border:0 none; color:#345f00; font-size:18px; vertical-align: text-top;}
#header .search-box input[type="submit"]{background:url(/images/bg/search-28.jpg) no-repeat; cursor:pointer; width:28px; height:28px; border:0 none; text-indent:-9999px;}
#header .search-box input[type="text"]:focus { outline: 0; }

/******************************
 ** SCHOOL LISTING TABLE
  ******************************/
.school-table{width:100%; margin:15px 0;}
.school-table thead{background-color:#4ca454;}
.school-table thead tr th{padding:6px 5px; color:#fff; vertical-align:bottom;}
.school-table tbody tr th{padding:8px 5px 8px 23px; border-bottom:1px solid #ccc; background:url(/images/bg/detail-16x16.png) 2px 50% no-repeat;}
.school-table tbody tr td{padding:8px 5px; border-bottom:1px solid #ccc; color:#603813;}
.school-table tbody tr:nth-child(even) {background-color: #F6F9F0;}
.school-table tbody tr th a:hover, .school-table tbody tr th a:focus{color:#ff9022; text-decoration:none;}
.school-table tbody tr:hover{background-color:#ffffcc;}

.category-link{margin-bottom:15px; padding-top:15px;}
.category-link .sub-title{font-size:20px; font-weight:bold; color:#159E25; padding-bottom:15px;}
.category-link .links>ul{padding:0; margin:0;}
.category-link .links>ul>li{display:inline-block; color:#2AA4CA; list-style:none; padding-left:20px; margin-right:15px; margin-bottom:10px; background:url(/images/bg/list-16x16.png) left center no-repeat;}

/******************************
 ** SCHOOL DETAILS
  ******************************/
.school-details{}
.school-details h3{color:#159E25; font-size:22px; font-weight:bold;}
.school-details .row{margin-bottom:20px; line-height:normal;}
.school-details .desc{float:left; width:440px; padding-right:25px;}
.school-details .desc h2{color:#159E25;}
.school-details .desc .chinese-name{display:block; font-size:28px; font-weight:bold;}
.school-details .desc .english-name{display:block; font-size:20px; font-weight:bold;padding:10px 0;}
.school-details .photo-box{float:right; width:300px; margin-right:15px;margin-top:5px;}
.school-details .photo-box img{
	width:300px;
	-webkit-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.6);
	-moz-box-shadow:    0px 0px 6px 0px rgba(0, 0, 0, 0.6);
	box-shadow:         0px 0px 6px 0px rgba(0, 0, 0, 0.6);
}
.school-details .related-news h4{font-size:18px;font-weight:bold;color:#603813;margin-bottom:10px;line-height:24px;}
.school-details .related-news p {margin:0 10px 10px 0}
ul.news-info {padding:0; margin:0;}
ul.news-info li{display:inline-block; list-style:none;line-height:22px;}

.school-details .photo-box .caption{display:block; padding:8px 0; text-align:center; color:#666; font-size:13px;}
.school-details .item-title{float:left; width:120px; color:#159E25; font-size:22px; font-weight:bold;}
.school-details .item{margin-left:120px;}
.school-details .item h4{color:#603813; font-size:22px; font-weight:bold;margin-bottom:0;}
.school-details .item-extend{color:#555;padding-top:5px;}
.school-details .contact{float:left; width:405px; padding-right:20px;}
.school-details .contact h3{margin-bottom:15px;}
.school-details .contact .school-name{font-size:18px; font-weight:bold; color:#603813;border-left:2px dotted #AAA;padding-left:10px;}
.school-details .contact-pic{float:right; width:336px;margin-right:15px;margin-top:10px;}
.school-details .contact-pic img{
	width:336px;
	-webkit-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.6);
	-moz-box-shadow:    0px 0px 6px 0px rgba(0, 0, 0, 0.6);
	box-shadow:         0px 0px 6px 0px rgba(0, 0, 0, 0.6);
}
.school-details .contact-pic .caption{display:block; padding:8px 0; text-align:center; color:#666; font-size:13px;}
.school-details .contact p{margin:10px 0;}
.school-details .related-news{margin:0 0 25px 0;}
.school-details .related-video-container{}
.school-details .related-video{float:left; width:25%; margin-bottom:30px;}
.school-details .related-video:nth-child(4n+5){clear:both;}
.school-details .related-video-thumb a{display:inline-block; position:relative;}
.school-details .related-video-thumb a:after{display:block; position:absolute; right:8px; bottom:4px; content:url(/images/common/icon-video-play.png);}
.school-details .related-video-title{width:180px; padding:4px 0; font-size:13px; white-space:normal;}
.school-details a.btn-video-swap{display:none; position:absolute; top:0; width:32px; height:100px; z-index:10;}
.school-details a.btn-video-swap.left{left:0; background:url(/images/common/btn-video-left.png) 0 center no-repeat;}
.school-details a.btn-video-swap.right{right:0; background:url(/images/common/btn-video-right.png) 0 center no-repeat;}

.school-details .item-update p{padding-left:24px;font-weight:bold;background:url(/images/icon/rss-feed-16x16.png) no-repeat 0 5px;}

table.education-state{margin:0 auto 25px auto; border:2px solid #ddd; width:96%;}
table.education-state th, table.education-state td{border-bottom:1px solid #ccc; border-right:1px solid #ccc; padding:10px 4px; text-align:center; vertical-align:middle;}
table.education-state thead th{background-color:#4ca454; color:#fff; font-weight:bold;border-right:1px solid #fff;border-bottom:1px solid #fff;}

table.education-state-mobile{margin:0 auto 25px auto; border:2px solid #ccc;}
table.education-state-mobile th{border:1px solid #ddd; padding:10px 15px; text-align:left; vertical-align:middle; background-color:#4ca454; color:#fff;}
table.education-state-mobile th.sub-th{background-color:#CC9157;padding:10px 10px;text-align:center;}
table.education-state-mobile td{border:1px solid #ccc; padding:10px 15px; text-align:center; vertical-align:middle;}

table.academic-quota{margin:0 auto 25px auto; border:2px solid #ddd; width:96%;}
table.academic-quota th, table.academic-quota td{border-bottom:1px solid #ccc; border-right:1px solid #ccc; width:12.5%; padding:10px 4px; text-align:center; vertical-align:middle;}
table.academic-quota thead th{background-color:#4ca454; color:#fff; font-weight: bold;border-right:1px solid #fff;border-bottom:1px solid #fff;}

/******************************
 ** BLOG LIST
 ******************************/
.blog-list{padding-bottom:15px;}
.blog-list h2{font-size:24px; color:#159E25; font-weight:bold;}
.blog-list h2 a{color:#159E25;}
.blog-list .blog-post{padding:25px 0; border-bottom:1px solid #ddd;}
.blog-list .blog-post:after{display:block; content:''; clear:both;}
.blog-list .blog-post .thumb{float:left; margin:5px 0; padding:5px; width:228px;
	-webkit-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.6);
	-moz-box-shadow:    0px 0px 6px 0px rgba(0, 0, 0, 0.6);
	box-shadow:         0px 0px 6px 0px rgba(0, 0, 0, 0.6);
}
.blog-list .blog-post .thumb img{max-width:218px;}
.blog-list .blog-post .content{margin-left:228px; padding-left:28px; }
.blog-list .blog-post .brief{padding-top:10px;}
.blog-list .blog-post .title{padding-bottom:10px;padding-top:10px;}
.blog-list .blog-post .meta{text-transform:uppercase; font-size:13px;color:#666;}
.blog-list .blog-post .info{}
.blog-list .blog-post a.btn-read{display:inline-block; color:#2aa4ca; padding-left:14px; background:url(/images/common/icon-read.png) 0 center no-repeat;}

/******************************
 ** BLOG DETAIL
 ******************************/
.blog-detail{padding-bottom:10px;}
.blog-detail h2{font-size:24px; color:#159E25; font-weight:bold;padding-bottom:10px;}
.blog-detail h3{font-size:20px; color:#603813; font-weight:bold;padding-bottom:10px;}
.blog-detail img{max-width:100%;}
.blog-detail ul {margin-right:40px;line-height:24px;}
.blog-detail ul li {padding-bottom:10px;}
.inline-popup{max-width: 460px}
.inline-popup h3{font-size:20px; color:#159E25; font-weight:bold;padding-bottom:10px;}

table.general {
	border-top:1px solid #666;
	border-right:1px solid #666;
	margin-bottom: 20px;
	border-collapse:collapse;
}
table.general td {
	border-bottom:1px solid #666;
	border-left:1px solid #666;
	padding:5px;
	text-align:left;
	background-color:#BCEDF0;
}
table.general th {
	background:#BCEDF0;
	font-weight:bold;
	color:#333;
	text-align:center;
	border-bottom: 1px solid #666;
	border-left:1px solid #666;
	padding:5px 10px;
}
ol {
	line-height:27px;
}
.video-container {
	position:relative;
	padding-bottom:56.25%;
	padding-top:30px;
	height:0;
	overflow:hidden;
}
.video-container iframe, .video-container object, .video-container embed {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}
.youtubevideowrap {
	max-width: 560px;
	margin: 0 auto 20px auto;
}

dl.short-title {display:inline-block;width:100%;}
.short-title dt {float: left;clear: left;width: 15%;text-align: right;font-weight: bold;line-height:27px;color: green;font-size:16px;}
.short-title dd {float:left;width:85%;padding: 0 10px 10px 20px;line-height:27px;}
/******************************
 ** SIDEBAR
 ******************************/
.side-para{border:1px solid #cfcfcf; padding:20px; background-color:#fff;}
.side-para p{font-size:13px;margin:0;padding-top:10px;line-height:22px;}
.side-para h2{font-size:16px;font-weight:bold;}

.side-related-page{border:1px solid #cfcfcf; padding:20px; background-color:#fff;}
.side-related-page h2{font-size:20px; color:#159E25; font-weight:bold;padding-bottom:6px;}
.side-related-page p{margin-bottom:5px;}
.side-related-page ul {padding:0; margin:0;}
.side-related-page ul > li{display:list-item; list-style:none; padding:6px 0;}
.side-related-page ul > li:not(:last-child){border-bottom:1px solid #e6e6e6}

::selection {background: #FFFFAA;text-shadow: none;}

/** DESKTOP 970PX - UPDATE by Steven **/
@media (max-width: 1199px) and (min-width:992px) {
	.container {width:100%;}
	#contentArea{float:none; width:100%; padding-right:10px;}
	#sidebar{float:none; display:none;}
	.school-details .contact-pic{margin-right:30px;}
}

/** TABLET or MOBILE **/
@media (max-width:991px) {
	#mainbody{padding:15px 0; margin-top:51px; height: calc(100% - 51px);}
	.container{width:100%;}
	#contentArea{float:none; width:100%;}
	#sidebar{float:none; display:none;}
	#footer{margin:0; background:transparent;}
	#footer-copyright{float:none; width:100%; text-align:center;color:#555;}
	#footer-menu{width:250px;float:none; margin:10px auto;padding:0;}
	#page-heading .page-title{font-size:28px;}
	#page-heading h1{font-size:28px;}

	/******************************
	 ** SCHOOL DETAILS
	 ******************************/
	.school-details .desc{float:none; width:100%; padding-right:0;}
	.school-details .photo-box{float:none; width:100%; text-align:center;margin-top:20px;}
	.school-details .photo-box img{width:initial; max-width:100%;}
	.school-details .item-title{float:none; width:100%; padding-right:0;font-size:18px;}
	.school-details .item{margin-left:0;}
	.school-details .item h4{margin-top:10px;font-size:18px;line-height:24px;}
	.school-details .contact{float:none; width:100%;}
	.school-details .contact-pic{float:none; width:100%; text-align:center;margin-top:20px;}
	.school-details .contact-pic img{width:initial; max-width:100%;}
	.school-details .related-video-container{width:178px; margin:0 auto; white-space:nowrap;}
	.school-details .related-video{float:none; display:none; width:100%;}
	.school-details .related-video.active{display:inline-block;}
	.school-details a.btn-video-swap{display:block;}
	#btn-scroll-top.active {
		opacity: .2;
	}
	.navigation{height: 100vh;}
	.modal-open body {overflow-x: hidden; overflow: hidden; max-height: 100vh;}
}

/** PHONE SCREEN **/
@media (max-width:481px) {
}

/** MOBILE ONLY **/
@media (max-width: 40em) {
	.category-link .sub-title{font-size:22px;}
	.category-link .links>ul>li{display:block; font-size:18px;width:100%; padding:6px 0 6px 24px; margin:0; }
	.category-link .links>ul>li:not(:last-child){border-bottom:1px solid #d2d2d2;}
	ul.news-info li{display:block; width:100%}
	table.education-state {width: 100% }
	table.academic-quota {width: 100% }

	/******************************
	 ** BLOG LIST
	 ******************************/
	.blog-list h2{font-size:22px;}
	.blog-list .blog-post .thumb{float:left; padding:2px; width:90px; margin-right:10px; margin-bottom:10px;}
	.blog-list .blog-post .thumb img{max-width:86px;}
	.blog-list .blog-post .content{margin-left:0; padding-left:0;}
	.blog-list .blog-post .title{margin-left:100px;}
	.blog-list .blog-post .info{clear:both;padding-top:5px;}

	/******************************
	 ** SCHOOL TABLE LISTING
	 ******************************/
	.school-table table,
	.school-table thead,
	.school-table tbody,
	.school-table th,
	.school-table td,
	.school-table tr {
		display: block;
	}
	.school-table{ margin-bottom:0; }
	.school-table thead tr{ position: absolute; top: -9999px; left: -9999px;}
	.school-table tr{border:1px solid #428BCA; margin:0 0 20px 0;}
	.school-table tbody tr th{padding:8px !important; background:none !important; background-color:#428bcaee !important; font-size:18px;border-bottom:1px solid #428bca;}
	.school-table tbody tr th a, .school-table tbody tr th a:hover, .school-table tbody tr th a:focus{color:#fff; width:100%;background:url(/images/bg/zoom-in-16x16.png) right center no-repeat;display:block;padding-left:4px;letter-spacing:1px;text-decoration:underline;}
	.school-table tbody tr td {
		border: none;
		border-bottom: 1px solid #e6e6e6;
		position: relative;
		padding: 6px;
		padding-left: 98px;
		white-space: normal;
		text-align:left;
		background: url(/images/common/table-vertical-border.jpg) 89px 0 repeat-y;
	}
	.school-table tbody tr:hover{background-color:#FFF;}
	.school-table tbody tr:nth-child(even) {background-color: #FFF;}
	.school-table tbody tr td:last-child { border:0; }
	.school-table tbody tr td:before {
		position: absolute;
		top: 0;
		left: 0;
		width: 90px;
		padding: 6px 8px 6px 10px;
		white-space: nowrap;
		text-align:left;
	}
	.school-table tbody tr td:before { content: attr(data-title); }
}